<div id="gradient">
</div>
<div class="header-team-img">
  <div class="header-content">
    <div class="header-content-inner">
      <h1>Nos gusta crear cosas!</h1>
    </div>
  </div>
</div>
<div class="container-fluid padding-side b-t">
  <div class="row">
    <div class="col-lg-5 ">
      <p class="selected-hero">La mejor manera de explorar y generar ideas menos charla y mas acciones.</p>
    </div>
    <div class="col-lg-5 offset-lg-2">
      <p>Construimos cosas contigo, ademas de ayudarte con tu trabajo, combinando el conocimiento y la organizacion, con nuestra
        experiencia podemos crear un sitio de gran impacto
      </p>
    </div>
  </div>
  <div class="row b-t">
    <div class="col-lg-5">
      <p class="selected-hero">Trabajamos con estrategias, diseño y tecnologia para producir un coherente y efectivo resultado en todos nuestros proyectos</p>
    </div>
    <div class="col-lg-5 offset-lg-2">
      <p>Cada proyecto es diferente, cada uno comienza con un leve conocimiento sobre ello pero termina con muchisimos detalles,
        nos encargamos de todas las areas de diseño.
      </p>
    </div>
  </div>
</div>
<section id="projects">
  <div class="container b-t ">
    <div class="row">
      <div class="col-lg-6 col-xs-12 portfolio-item">
        <div class="project-item">
          <div class="portfolio-box card ">
            <img class="card-img-top img-fluid" [src]="img1">
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-xs-12 portfolio-item">
        <div class="project-item">
          <div class="portfolio-box card ">
            <img class="card-img-top img-fluid" [src]="img2">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="container-fluid padding-side b-t">
  <div class="row">
    <div class="col-lg-5 ">
      <p class="selected-hero">Nuestro equipo cada vez es mas grande, puedes unirte si asi lo deseas.</p>
    </div>
    <div class="col-lg-5 offset-lg-2">
      <div class="row">
        <div class="col-lg-6">
          <p>A medida que pasa el tiempo, cada vez mas son las personas que se unen a este maravilloso equipo, como colaboradores,
            diseñadores y desarrolladores. Necesitamos de tus ideas, nos vendria bien una mano mas, como dice el dicho
            <span class="selected-hero"><b>Dos cabezas piensan mas que una</b></span>. Te esperamos!
          </p>
        </div>
        <div class="col-lg-6">
          <p>A medida que pasa el tiempo, cada vez mas son las personas que se unen a este maravilloso equipo, como colaboradores,
            diseñadores y desarrolladores. Necesitamos de tus ideas, nos vendria bien una mano mas, como dice el dicho
            <span class="selected-hero"><b>Dos cabezas piensan mas que una</b></span>. Te esperamos!
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="row b-t">
    <div class="col-lg-5">
      <p class="selected-hero">Trabajamos con estrategias, diseño y tecnologia para producir un coherente y efectivo resultado en todos nuestros proyectos</p>
    </div>
    <div class="col-lg-5 offset-lg-2">
      <p>Cada proyecto es diferente, cada uno comienza con un leve conocimiento sobre ello pero termina con muchisimos detalles,
        nos encargamos de todas las areas de diseño.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-5">
      <p class="selected-hero">Contamos con varios desarrolladores que te ayudaran a mejorar tu trabajo.</p>
    </div>
    <div class="col-lg-5 offset-lg-2">
      <div class="row">
        <div class="col-lg-6">
          <p class="selected-hero">Victor Manrique</p>
          <p>Fundador</p>
        </div>
        <div class="col-lg-6">
          <p class="selected-hero">Jose Bolivar</p>
          <p>Fundador</p>
        </div>
      </div>
    </div>
  </div>
</div>