<div *ngIf="!identity">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-4">
        <video class="warningImage" [src]="videoPath" autoplay="true" loop="true"></video>
      </div>
      <div class="col-md-4">
        <div class="box-true">
          <form class="form-signin" [formGroup]="rForm" (ngSubmit)="onSubmit()">
            <h2 class="form-signin-heading">Iniciar sesion</h2>
            <img class="rounded mx-auto d-block size" [src]="logoPath">
            <div formGroupName="login">
              <p>{{alertMessage}}</p>
              <label class="sr-only">Name</label>
              <input class="form-control" type="email" formControlName='email' placeholder="Nombre de usuario" [(ngModel)]="user.email">
              <label class="sr-only">Password</label>
              <input class="form-control" type="password" formControlName='password' placeholder="Contraseña" [(ngModel)]="user.password">
              <input class="btn btn-xs btn-primary btn-block col-md-4 offset-md-4" type="submit" value="Entrar" [disabled]="rForm.invalid">
            </div>
          </form>

        </div>
      </div>
    </div>
  </div>
</div>