h2,
p {
  text-align: center;
}
input {
  margin-bottom: 15px;
}
.container-fluid {
  padding: 0;
}
.row {
  margin: 0;
}
.size {
  width: 170px;
  padding: 10px;
}

.warningImage {
  width: 200.5vh;
}

.col-md-4 {
  padding: 0;
}
.box-true {
  margin-top: 40px;
}

form {
  padding: 0rem 6rem 0rem 6rem;
}
