<div class="container b-t">
  <div class="row">
    <div class="col-12">
      <div *ngIf="identity">
        <div class="center margin-y " *ngIf="project?.user._id == identity._id">
          <button type="submit" class="btn btn-primary" routerLink="/editar-proyecto/{{project._id}}">Editar proyecto</button>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <p>{{project?.title}}</p>
        <p>{{project?.description}}</p>
        <div *ngIf="project?.image && project?.image!='null'">
          <img src='{{url+"imagen-proyecto/"+project?.image}}' style="width: 500px;" alt="">
          <div>
          </div>
        </div>
      </div>
    </div>
    <div>
      <ul *ngFor="let item of tools">
        <li>{{item.name}}</li>
      </ul>
    </div>
  </div>
</div>