<footer class="footer">
	<div class="container-fluid">
		<div class="row no-margin mb-5 text-center text-md-left">
			<div id="1-col" class="margin-left col-md-3 col-lg-4 mb-3">
				<p class="title-footer">Contacto</p>
				<p class="description-footer">
					Growsoft@gmail.com
				</p>
				<p class="description-footer">
					(+58)(0)414-3580523
				</p>
			</div>
			<div class=" margin  col-md-3 offset-lg-2 col-lg-2 pt-2">
				<p class="title-footer">Sin duda podemos ayudarte!</p>
				<ul class="nav-footer">
					<p class="description-footer">Recuerda que ofrecemos tipo de desarrollo desde aplicaciones de web hasta de escritorio. No dudes en contactar si tienes
						alguna duda.</p>
				</ul>
			</div>
			<div class="col-md-3 col-lg-2 pt-2">
				<p class="title-footer">Redes
					<p>
						<ul class="nav-footer">
							<li class="nav-item">
								<a class="nav-link" href="#">Twitter</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="#">Facebook</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="#">Instagram</a>
							</li>
						</ul>
			</div>
			<div class="col-md-3 col-lg-2 pt-2">
				<p class="title-footer">Category 3</p>
				<ul class="nav-footer">
					<li class="nav-item">
						<a class="nav-link" href="#">Home</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">About</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">Our Work</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">Contact</a>
					</li>
				</ul>
			</div>
		</div>
	</div>