.portfolio-item {
  margin-bottom: 30px;
}

.card {
  border: none;
  margin: 0px;
  padding: 0px;
}

.portfolio-box {
  position: relative;
  display: block;
  max-width: 650px;
  margin: 0 auto;
}
.portfolio-box .portfolio-box-caption {
  position: absolute;
  bottom: 0;
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
  opacity: 0;
  color: white;
  background: rgba(239, 67, 53, 0.5);
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  transition: all .5s;
}
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content {
  position: absolute;
  top: 50%;
  width: 100%;
  transform: translateY(-50%);
  text-align: center;
}
p {
  color: rgba(0, 0, 0, 0.6);
}
.project-name {
  font-size: 1.1em;
  margin-top: 20px;
  text-align: center;
}
a {
  text-decoration: none;
  color: inherit;
}
a:hover {
  color: inherit;
}
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category,
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-description {
  padding: 0 15px;
}
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category {
  font-size: 14px;
  font-weight: 600;
}
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-description {
  font-size: 18px;
}
.portfolio-box:hover .portfolio-box-caption {
  opacity: 1;
}
.portfolio-box:focus {
  outline: none;
}
@media (min-width: 768px) {
  .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category {
    font-size: 16px;
  }
  .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-description {
    font-size: 22px;
  }
}
